/.project
/backend/.gradle/
/backend/build/
/backend/bin/
/backend/.factorypath
/backend/.project
/backend/.classpath
/backend/.settings/org.eclipse.buildship.core.prefs
/backend/.idea/

# Config files
/frontend/deploy/deploy-config.js
/frontend/src/frontend-config.ts
/backend/local-server-env.properties
/infrastructure/infrastructure-config.ts

