<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p [%thread] %logger{5}:%L - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="awslambda" class="io.symphonia.lambda.logging.DefaultConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %X{AWSRequestId:-NO_REQUEST_ID} %.-6level %logger{5} - %msg
                \r%replace(%ex){'\n','\r'}%nopex%n</pattern>
        </encoder>
    </appender>

    <!-- <root level="debug"> <appender-ref ref="stdout" /> </root> -->
    <root level="debug">
        <appender-ref ref="awslambda" />
    </root>
    <logger name="io.micronaut.context" level="info" />
    <logger name="io.micronaut.core" level="info" />
    <logger name="org.apache.http" level="info" />
    <logger name="io.netty" level="info" />
    <logger name="com.amazonaws" level="info" />
</configuration>
